header {
    background-color: rgb(14, 14, 72);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  

#searchBit {
    background-color: rgb(176, 232, 176);
    padding: 20px;
    text-align: center;
  }


#answersBit {
    background-color: purple;
    padding: 20px;
    text-align: center;
}
  
#futureBit {
    background-color: pink;
    padding: 20px;
    text-align: center;
}